<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายละเอียดผู้ดูแล | FIRE CHECK</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap" rel="stylesheet">
    <style>
        .very-bad-quality {
            background-color: red;
            color: white;
            padding: 5px 20px;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            font-size: 0.8em;
            width: 100px;
        }
        .bad-quality {
            background-color: orange;
            color: white;
            padding: 5px 20px;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            font-size: 0.8em;
            width: 100px;
        }
        .fair-quality {
            background-color: yellow;
            color: black;
            padding: 5px 20px;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            font-size: 0.8em;
            width: 100px;
        }
        .good-quality {
            background-color: lightgreen;
            color: black;
            padding: 5px 20px;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            font-size: 0.8em;
            width: 100px;
        }
        .very-good-quality {
            background-color: green;
            color: white;
            padding: 5px 20px;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            font-size: 0.8em;
            width: 100px;
        }
        .cannot-burn {
            color: red;
        }
        .can-burn {
            color: green;
        }
        .advice-header {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .advice-title {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .advice-title img {
            width: 50px;
            height: 50px;
        }
        .button-container {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
        .button-common {
            background-color: #EF4364;
            color: #ffffff;
            border: 1px solid #EF4364;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
        .highlight-row {
            background-color: #ffff99; /* Yellow background for the selected date */
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/images/logo1.png" alt="FIRE CHECK Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/admin_dashboard" class="nav-link">หน้าแรก</a></li>
                    <li><a href="/history_request_admin" class="nav-link">ประวัติคำขอ</a></li>
                </ul>
                <div class="auth-buttons">
                    <a href="#" class="button primary"><%= user.firstName %> <%= user.lastName %> (<%= user.role %>)</a>
                    <a href="/logout" class="button logout-button">ออกจากระบบ</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="advice-section">
            <div class="container">
                <div class="table-container">
                    <div class="button-container">
                        <button onclick="window.location.href='/history_request_admin'" class="button-common">กลับไปยังประวัติคำขอ</button>
                    </div>
                    <div class="advice-header">
                        <div class="advice-title">
                            <img src="/images/cross.png" alt="Not Recommend" />
                            <h1>ไม่ควรเผา</h1>
                        </div>
                    </div>
                    <table class="advice-table">
                        <thead>
                            <tr>
                                <th>วันที่</th>
                                <th>เวลา</th>
                                <th>ละติจูด</th>
                                <th>ลองจิจูด</th>
                                <th>ระดับสีค่าฝุ่น PM2.5</th>
                                <th>ความกดอากาศ</th>
                                <th>ความชื้น</th>
                                <th>อุณหภูมิ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% const getPM25Color = (pm25) => {
                              if (pm25 > 75.1) return '<div class="very-bad-quality">มีผลกระทบต่อสุขภาพ</div>';
                              if (pm25 > 37.6) return '<div class="bad-quality">เริ่มมีผลกระทบต่อสุขภาพ</div>';
                              if (pm25 > 25.1) return '<div class="fair-quality">ปานกลาง</div>';
                              if (pm25 > 15.1) return '<div class="good-quality">ดี</div>';
                              return `<div class="very-good-quality">ดีมาก <i class="fas fa-info-circle pm25-icon" onclick="showModal('pic10.png')"></i></div>`;
                          }; %>
                          <% const getAdvice = (pm25) => {
                              if (pm25 > 37.6) return '<div class="cannot-burn">ไม่ควรเผา</div>';
                              return '<div class="can-burn">ควรเผา</div>';
                          }; %>
                          <% requests.forEach((request) => { %>
                            <tr class="<%= request.Burn_Date === selectedDate ? 'highlight-row' : '' %>">
                              <td><%= moment(request.Burn_Date).format('DD-MM-YYYY') %></td>
                              <td><%= request.Burn_Time %></td>
                              <td><%= request.Latitude %></td>
                              <td><%= request.Longitude %></td>
                              <td><%- getPM25Color(request.PM2_5) %></td>
                              <td><%= request.Pressure %> hPa</td>
                              <td><%= request.Humidity %> %</td>
                              <td><%= request.Temperature %> °C</td>
                          </tr>
                          <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="modalImage" src="" alt="Modal Image" style="width: 100%;">
        </div>
    </div>
    <script>
        function showModal(imageSrc) {
            var modal = document.getElementById("myModal");
            var modalImg = document.getElementById("modalImage");
            modal.style.display = "block";
            modalImg.src = "/images/" + imageSrc;

            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
